
.account_panel {
    text-align: center;
    border-radius: 15px;
    width: 500px;
    padding: 5px;
    border: 3px solid gray;
    margin: 0 auto;
}

.device_table {
    text-align: center;
    border-spacing: 0.5rem;
    border-collapse: collapse;
}

.device_table_cell {
    padding: 2px;
    border-spacing: 0.5rem;
    border: 2px solid blue;
}

.device_files_table {
    border-spacing: 0.5rem;
    border-collapse: collapse;
}

.device_files_cell {
    padding: 1px;
    border-spacing: 0.5rem;
    border: 1px solid blue;
}